.playfield {
  table-layout: fixed;
  border-collapse: collapse;
  width: calc(10 * 36px);
  height: calc(22 * 36px);

  & tr {
    width: 100%;
    height: 36px;
  }

  & td {
    border: 1px solid #dedede;
    width: 36px;
    height: 36px;
    overflow: hidden;

    font-size: 10px;
  }
}
